<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionStringAXLAF" connectionString="server=localhost;User Id=root;Persist Security Info=True;database=axlaf;password=axis" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
  <system.web>
    <customErrors mode="Off" />
    <compilation>
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <roleManager enabled="true" cacheRolesInCookie="true" />
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="checkIn.aspx" timeout="2880">
        <credentials passwordFormat="Clear" />
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="checkIn.aspx" />
      </files>
    </defaultDocument>
        <httpRedirect enabled="false" destination="www.axlaf.com" />
  </system.webServer>
</configuration>
